---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.jsx';
import Footer from '../components/Footer.jsx';
import ContactForm from '../components/ContactForm.jsx';
---

<BaseLayout>
  <Header client:load />

  <main class="p-4">
    <h1 class="text-3xl mb-8 text-center">Contactez-Nous</h1>
    <ContactForm client:load />
  </main>

  <Footer />
</BaseLayout>
