---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.jsx';
import Carousel from '../components/Carousel.jsx';
import History from '../components/History.jsx';
import LogosCarousel from '../components/LogosCarousel.jsx';
import Footer from '../components/Footer.jsx';
---

<BaseLayout>
	<Header client:load />
	<main class="space-y-8">
		<section>
			<Carousel images={['/img/test.png', '/img/test1.png', '/img/test2.png']} />
		</section>
		<section>
			<History />
		</section>
		<section>
			<LogosCarousel logos={['', '', '']} />
		</section>
		<section>

		</section>

	</main>
	<Footer />
</BaseLayout>