---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.jsx';
import Carousel from '../components/Carousel.jsx';
import History from '../components/History.jsx';
import LogosCarousel from '../components/LogosCarousel.jsx';
import Footer from '../components/Footer.jsx';
---

<BaseLayout>
	<Header client:load />
	<main>
		<section>
			<Carousel client:load />
		</section>
		<section>
			<History />
		</section>
		<section>
			<LogosCarousel />
		</section>
		<section>

		</section>

	</main>
	<Footer />
</BaseLayout>