---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.jsx';
import DownloadCenter from '../components/DownloadCenter.jsx';
import Footer from '../components/Footer.jsx';
---

<BaseLayout>
  <Header client:load />
  <main class="flex justify-center py-16">
    <div class="max-w-6xl mx-auto">
      <h1 class="text-3xl font-bold mb-8 text-white text-center">Nos Services</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-12 justify-items-center">
        
        <!-- Bloc pour le service de maintenance -->
        <div class="bg-white shadow-md p-6 rounded-lg w-full max-w-xs h-[500px] flex flex-col justify-between">
          <img src="/img/maintenance.webp" alt="Maintenance" class="w-full h-[200px] object-cover mb-4 rounded-lg"/>
          <h2 class="text-2xl font-semibold mb-2">Maintenance & Réparation</h2>
          <p class="text-gray-700">
            Nous assurons la maintenance et la réparation de l'ensemble de vos équipements de garage : ponts élévateurs, équilibreuses, démonte-pneus, stations de climatisation, géométries, compresseurs, etc.
          </p>
        </div>

        <!-- Bloc pour le service d'installation -->
        <div class="bg-white shadow-md p-6 rounded-lg w-full max-w-xs h-[500px] -[500px] flex flex-col justify-between">
          <img src="/img/installation.webp" alt="Installation" class="w-full h-[200px] object-cover mb-4 rounded-lg"/>
          <h2 class="text-2xl font-semibold mb-2">Installation de Matériels</h2>
          <p class="text-gray-700">
            Grâce à nos partenaires spécialisés, nous prenons en charge l'installation de tous vos équipements de garage, garantissant une mise en service rapide et efficace.
          </p>
        </div>

      </div>
    </div>
  </main>
  <section>
    <DownloadCenter />
  </section>
  <Footer />
</BaseLayout>

